<%= render 'devise/shared/sidebar', user: @user, book: @book_new %>

<div class ="titles">
    <h4>Title</h4>
    <h4>Opinion</h4>
</div>

<% @book.each do |book| %>
<%= link_to user_path(book.user.id) do %>
<%= image_tag book.user.get_profile_image(100, 100) %>
<% end %>
 <%=link_to book.title,book_path(book.id) %>
 <%= book.body %>
 <% end %>