<p id="notice"></p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 mt-4">
      <h1 class="text-center mb-4" style="font-size: 2.5rem; font-weight: bold; color: #333;">Log in</h1>

      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>

        <div class="text-center">
          <input type="submit" name="commit" value="Log in" class="btn btn-primary btn-block" data-disable-with="Log in">
        </div>
      <% end %>

      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

